main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}

h1, p{
  color: orangered;
}

ul{
  list-style-type: none;
}

img{
  border-radius: 30px;
}

img, nav ul li{
  box-shadow: 12px 6px .6em rgb(121, 121, 121);
}